.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    margin-right: 30px;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.locations,
.amenities {
    flex: 1;
    padding: 0 20px;
    border-right: 1px solid #DDDDDD;
    box-sizing: border-box;
    height: 100%; /* Ensure the filters take up full height of the container */
    width: calc(25% - 1px); /* Adjust width to account for padding and border */
}

.amenities {
    border-right: none; /* Remove border from the last filter */
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-bottom: 5px;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 5px;
}

.search-button {
    background-color: #FF5A5F;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: auto;
}
