.places {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    margin-top: 30px;
    padding: 0 20px;
}
.places h1 {
    font-size: 30px;
    margin-bottom: 20px;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    max-width: calc(50% - 40px);
    box-sizing: border-box;
}
.places article h2 {
    font-size: 30px;
    text-align: center;
}
.places article .price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    float: right;
    margin-left: 20px;
}
.places article .information {
    border-top: 1px solid #DDDDDD;
}
